<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//cdn.staticfile.org/layui/2.9.7/css/layui.css" rel="stylesheet">
</head>
<body>
<div style="padding: 15px;">
    <blockquote class="layui-elem-quote layui-text">
        重新分析失败的正文：从标题开始过滤，分析错误记录页面中的数据<br>
        重新分析全部正文：分析全部已收录正文的数据<br>
        重新分析全部数据：分析全部已采集的公告数据，重新从标题开始过滤，若标题符合规则那么会下载并收录正文<br>
    </blockquote>
    <div class="layui-form-item">
        <div class="layui-input-group">
            <div class="layui-btn-container">
                <button type="button" class="layui-btn layui-bg-blue" onclick="reAnalysisErrors()">重新分析失败的正文
                </button>
                <button type="button" class="layui-btn layui-bg-green" onclick="reAnalysisDetail()">重新分析全部正文
                </button>
                <button type="button" class="layui-btn layui-bg-orange" onclick="reAnalysisAll()">重新分析全部数据
                </button>
            </div>

        </div>
    </div>

    <div class="layui-card layui-panel">
        <table class="layui-table" lay-data="{height:'auto', url:'/query/analysis', page:true,limit:20}"
               id="ID-table-demo-init">
        </table>
    </div>
    <br><br>
</div>
<script src="//cdn.staticfile.org/layui/2.9.7/layui.js"></script>
<script>

    var tableIns
    layui.use(['table', 'jquery'], function () {
        var table = layui.table;
        $ = layui.jquery;

        // 渲染表格
        tableIns = table.render({
            elem: '#ID-table-demo-init',
            url: '/query/analysis', // 模拟接口地址
            page: true,
            limit: 20,
            cols: [[
                {field: 'LAY_NUM', title: '序号', width: 80, type: "number"},
                {field: 'date', title: '分析时间', width: 180},
                {field: 'type', title: '类型', width: 200},
                {field: 'new', title: '新采集数据条数'},
                {field: 'validTitles', title: '标题命中总数', width: 120},
                {field: 'validDetails', title: '公告正文收录条数'},
                {field: 'successAccounts', title: '事务所名称命中条数'},
                {field: 'failedAccounts', title: '事务所名称分析失败条数', width: 200},
            ]]
        });

    });
    // 刷新表格
    function reloadTable() {
        tableIns.reload();
    }
    function reAnalysisErrors() {
        layui.$.get('/admin/reAnalysisErrors', function (data) {
            // 处理接口返回的数据
            layer.msg(data, {icon: 1});
            reloadTable()
        });
    }

    function reAnalysisDetail() {
        layui.$.get('/admin/reAnalysisDetail', function (data) {
            // 处理接口返回的数据
            layer.msg(data, {icon: 1});
            reloadTable()
        });
    }

    function reAnalysisAll() {
        layui.$.get('/admin/reAnalysisAll', function (data) {
            // 处理接口返回的数据
            layer.msg(data, {icon: 1});
            reloadTable()
        });
    }
</script>
</body>
</html>