<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="layui/css/layui.css" rel="stylesheet">
</head>
<body>
<div style="padding: 15px;">
    <blockquote class="layui-elem-quote">
        数据采集时会从当前发布的最新公告开始，然后采集以前的公告，回溯日期是指采集到哪一天截止。命中数量是指这次采集操作去重后新收录了多少条数据。
    </blockquote>
    <div class="layui-form-item">
        <div class="layui-inline">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">回溯日期</label>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" id="ID-laydate-demo" placeholder="yyyy-MM-dd">
                    </div>
                </div>
            </div>
            <div class="layui-btn-container">
                <button type="button" class="layui-btn " onclick="startCollect()">开始采集</button>
                </button>
            </div>
        </div>
    </div>

    <div class="layui-card layui-panel">
        <table class="layui-table" lay-data="{height:'auto', url:'/query/searchLog', page:true,limit:20}"
               id="ID-table-demo-init">
            <thead>
            <tr>
                <th lay-data="{type:'numbers'}">序号</th>
                <th lay-data="{field:'tillDate'}">回溯日期</th>
                <th lay-data="{field:'count'}">命中数量</th>
                <th lay-data="{field:'date'}">采集时间</th>
            </tr>
            </thead>
        </table>
    </div>
    <br><br>
</div>
<script src="layui/layui.js"></script>
<script>
    layui.use(function () {
        var laydate = layui.laydate;
        laydate.render({
            elem: '#ID-laydate-demo',
            trigger: 'click',  // 点击触发
            max: 0,  // 设置 max 为 0，表示最大可选日期是今天
            done: function (value, date) {
                if (!value) {
                    layer.msg('日期不能为空', {icon: 5});
                }
            }
        });
    });

    function startCollect() {
        var tillDate = layui.$("#ID-laydate-demo").val()
        if (tillDate === undefined || tillDate === "") {
            layer.msg("请输入有效日期", {icon: 5});
            return
        }
        layui.$.ajax({
            url: '/data',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({tillDate: tillDate}),
            success: function (data) {
                // 处理接口返回的数据
                layer.msg(data, {
                    icon: 1,
                    time: 1000,
                    end: function () {
                        showLog();
                    }
                });

            },
            error: function (xhr, status, error) {
                // 处理请求失败的逻辑
                layer.msg(xhr.responseText);
            }
        });

        // 对弹层中的表单进行初始化渲染
        var websocket = null;
        function showLog() {
            layer.open({
                type: 1,
                area: ['1200px', '600px'],
                resize: true,
                shadeClose: false,
                title: false,
                content: `
            <pre id="logArea" class="layui-code code-demo" lay-options="{theme: 'dark'}"
         style="height: 600px; overflow-y: auto;">
            `,
                success: function () {

                    document.onkeydown = function (event) {
                        if (event.keyCode === 27) { // ESC 键的 keyCode 是 27
                            layer.closeAll();
                        }
                    };


                    //判断当前浏览器是否支持WebSocket
                    if ('WebSocket' in window) {
                        websocket = new WebSocket("ws://" + window.location.host + "/log");
                    } else {
                        alert('Dont support websocket')
                    }

                    //连接发生错误的回调方法
                    websocket.onerror = function () {
                        console.log("error");
                    };

                    //连接成功建立的回调方法
                    websocket.onopen = function () {
                        console.log("open");
                    };

                    //接收到消息的回调方法
                    websocket.onmessage = function (event) {
                        layui.$('#logArea').append(event.data + '\n');
                        scrollToBottom()
                    };

                    //连接关闭的回调方法
                    websocket.onclose = function () {
                        layer.closeAll();
                    };

                    //监听窗口关闭事件，当窗口关闭时，主动去关闭websocket连接，防止连接还没断开就关闭窗口，server端会抛异常。
                    window.onbeforeunload = function () {
                        websocket.close();
                    };

                    layui.use('code', function () {
                        var code = layui.code;
                        // 初始化代码块
                        code({
                            elem: '#logArea',  // 指定元素
                            title: '日志输出', // 标题
                            encode: true,  // 对内容进行转义
                            about: false,  // 不显示关于
                            skin: 'dark'  // 使用暗色主题
                        });
                    });

                    // 自动滚动到底部
                    function scrollToBottom() {
                        var logArea = document.getElementById('logArea');
                        if (logArea){
                            logArea.scrollTop = logArea.scrollHeight;
                        }
                    }
                },
                end:function () {
                    if (websocket){
                        websocket.close()
                    }
                },
            });
        }


    }
</script>
</body>
</html>