<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//cdn.staticfile.org/layui/2.9.7/css/layui.css" rel="stylesheet">
</head>
<body>
<div style="padding: 15px;">
    <blockquote class="layui-elem-quote">
        数据采集时会从当前发布的最新公告开始，然后采集以前的公告，回溯日期是指采集到哪一天截止。命中数量是指这次采集操作去重后新收录了多少条数据。
    </blockquote>
    <div class="layui-form-item">
        <div class="layui-inline">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">回溯日期</label>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" id="ID-laydate-demo" placeholder="yyyy-MM-dd">
                    </div>
                </div>
            </div>
            <div class="layui-btn-container">
                <button type="button" class="layui-btn " onclick="startCollect()">开始采集</button>
                </button>
            </div>
        </div>
    </div>

    <div class="layui-card layui-panel">
        <table class="layui-table" lay-data="{height:'auto', url:'/query/searchLog', page:true,limit:20}"
               id="ID-table-demo-init">
            <thead>
            <tr>
                <th lay-data="{type:'numbers'}">序号</th>
                <th lay-data="{field:'tillDate'}">回溯日期</th>
                <th lay-data="{field:'count'}">命中数量</th>
                <th lay-data="{field:'date'}">采集时间</th>
            </tr>
            </thead>
        </table>
    </div>
    <br><br>
</div>
<script src="//cdn.staticfile.org/layui/2.9.7/layui.js"></script>
<script>
    layui.use(function () {
        var laydate = layui.laydate;
        laydate.render({
            elem: '#ID-laydate-demo'
        });
    });

    function startCollect() {
        var tillDate = layui.$("#ID-laydate-demo").val()
        layui.$.ajax({
            url: '/data',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({tillDate: tillDate}),
            success: function (data) {
                // 处理接口返回的数据
                layer.msg(data, {icon: 1});
            },
            error: function (xhr, status, error) {
                // 处理请求失败的逻辑
                layer.msg(xhr.responseText);
            }
        });
    }
</script>
</body>
</html>