<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="layui/css/layui.css" rel="stylesheet">
</head>
<script src="layui/layui.js"></script>
<body>
<div style="padding: 15px;">
    <blockquote class="layui-elem-quote">
        该页面显示符合标题筛选条件但无法从公告内容中提取到有效事务所名称的数据
    </blockquote>
    <div class="layui-form-item">
        <div class="layui-inline">
            <div class="layui-btn-container">
                <button type="button" class="layui-btn" lay-submit lay-filter="demo-table-export"
                        onclick="exportExcel()">导出Excel
                </button>
            </div>
        </div>
    </div>
    <div class="layui-card layui-panel">
        <table class="layui-table" lay-data="{height:'auto', url:'/query/errors', page:true,limit:20}"
               id="ID-table-demo-init">
        </table>
    </div>
    <br><br>
</div>
<script type="text/html" id="contentTpl">
    <div>{{ d.content.substring(0, 200) }}</div> <!-- 只显示部分内容 -->
</script>

<script>
    var addlink = function (d) {
        return d.title
    };
    var tableIns
    layui.use(['table', 'layer'], function () {
        const table = layui.table;
        const layer = layui.layer;
        tableIns = table.render({
            elem: '#ID-table-demo-init',
            url: '/query/errors', // 模拟接口地址
            page: true,
            limit: 20,
            cols: [[
                {field: 'LAY_NUM', title: '序号', type: "number", width: 80},
                {field: 'code', title: '公告代码', width: 180},
                {field: 'stock', title: '证券代码', width: 120},
                {field: 'title', title: '公告标题', width: 200, templet: addlink},
                {field: 'content', title: '公告内容', event: 'viewContent', templet: '#contentTpl'},
                // {title: '操作', toolbar: '#toolbarDemo'}
                {
                    title: '操作', width: 150, templet: function (d) {
                        if (d.ignored === true) {
                            return '<button class="layui-btn layui-btn-warm layui-btn-xs edit-btn layui-bg-gray" onclick="edit(\'' + d.id + '\')">是否修正</button>';
                        } else {
                            return '<button class="layui-btn layui-btn-warm layui-btn-xs edit-btn" onclick="edit(\'' + d.id + '\')">是否修正</button>';
                        }

                    }
                }
            ]]
        });
        // 预览公告全文
        table.on('tool(ID-table-demo-init)', function (obj) {
            if (obj.event === 'viewContent') {
                const data = obj.data;
                layer.open({
                    type: 1,
                    title: '公告内容',
                    content: '<div style="padding: 20px;">' + data.content + '</div>',
                    area: ['600px', '400px']
                });
            }
        });
    });
    document.onkeydown = function (event) {
        if (event.keyCode === 27) { // ESC 键的 keyCode 是 27
            layer.closeAll();
        }
    };

    function edit(id) {

        // 刷新表格
        function reloadTable() {
            tableIns.reload();
        }


        // 手动修正结果
        layui.use(['layer'], function () {
            var layer = layui.layer;
            var util = layui.util
            layer.prompt({
                    title: '请输入手动修正结果',
                    formType: 0,
                    btn2: function () {
                        layui.$.ajax({
                            url: '/error/' + id,
                            type: 'PATCH',
                            contentType: 'application/json',
                            data: JSON.stringify({ignored: true}),
                            success: function (data) {
                                // 处理成功的逻辑
                                layer.msg('已阅');
                                reloadTable();
                                // 关闭 prompt
                                layer.close(index);
                            },
                            error: function (xhr, status, error) {
                                // 处理失败的逻辑
                                layer.msg(xhr.responseText, {icon: 5, anim: 6});
                            }
                        });
                    }
                },
                function (value, index, elem) {
                    if (value === '') return elem.focus();
                    layui.$.ajax({
                        url: '/error/' + id,
                        type: 'PATCH',
                        contentType: 'application/json',
                        data: JSON.stringify({accountCompanyName: util.escape(value)}),
                        success: function (data) {
                            // 处理成功的逻辑
                            layer.msg(data, {icon: 1});
                            reloadTable();
                            // 关闭 prompt
                            layer.close(index);
                        },
                        error: function (xhr, status, error) {
                            // 处理失败的逻辑
                            layer.msg(xhr.responseText, {icon: 5, anim: 6});
                        }
                    });
                }
            );
        });
    }
    function extractFilename(contentDispositionHeader) {
        // 正则表达式模式匹配 filename*=UTF-8''filename
        var pattern = /filename\*=UTF-8''([^;]*)/;
        var match = contentDispositionHeader.match(pattern);

        // 如果匹配成功，提取 filename
        if (match) {
            // 解码并返回 filename
            return decodeURIComponent(match[1]);
        } else {
            return null; // 如果没有找到匹配的 filename，则返回 null
        }
    }

    function exportExcel() {
        var loadIndex = layer.load(3);
        var xhr = new XMLHttpRequest();
        xhr.open('GET', '/excel/error', true);
        xhr.responseType = 'blob'; // 设置响应类型为 Blob
        xhr.onload = function () {
            layer.close(loadIndex)
            if (this.status === 200) {
                var blob = this.response;
                var disposition = xhr.getResponseHeader('Content-Disposition').toString();
                var filename = '';
                filename = extractFilename(disposition)
                var url = window.URL.createObjectURL(blob); // 创建临时 URL
                var a = document.createElement('a');
                a.href = url;
                a.download = filename !== '' ? filename : 'filename.xlsx'; // 设置文件名，如果无法从响应头中获取则使用默认文件名
                document.body.appendChild(a);
                a.click(); // 触发下载
                document.body.removeChild(a); // 移除临时链接
            } else {
                layer.msg('下载失败');
            }
        };
        xhr.send();
    }
</script>
</body>
</html>
