<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layout 管理界面大布局示例 - Layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//cdn.staticfile.org/layui/2.9.7/css/layui.css" rel="stylesheet">
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo layui-hide-xs layui-bg-black">Awesome choice</div>
        <!-- 头部区域（可配合layui 已有的水平导航） -->
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item layui-hide layui-show-sm-inline-block">
                <a href="javascript:;">
                    <img src="//unpkg.com/outeres@0.0.10/img/layui/icon-v2.png" class="layui-nav-img">
                    guess who am I?
                </a>
            </li>
            <li class="layui-nav-item" lay-header-event="menuRight" lay-unselect>
                <a href="javascript:;">
                    <i class="layui-icon layui-icon-more-vertical"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item"  class="menu-item" id="first"><a href="javascript:;  onclick=loadPage('/titleRule.html')">规则管理</a></li>
                <li class="layui-nav-item"  class="menu-item"><a href="javascript:; onclick=loadPage('/collect.html')">采集管理</a></li>
                <li class="layui-nav-item"  class="menu-item"><a href="javascript:; onclick=loadPage('/analysis.html')">分析管理</a></li>
                <li class="layui-nav-item"  class="menu-item"><a href="javascript:;  onclick=loadPage('/result.html')">汇总查询</a></li>
                <li class="layui-nav-item"  class="menu-item"><a href="javascript:; onclick=loadPage('/error.html')">错误分析</a></li>
                <li class="layui-nav-item"  class="menu-item"><a href="javascript:; onclick=loadPage('/notice.html')">公告统计</a></li>
            </ul>
        </div>
    </div>
    <div class="layui-body">
        <!-- 内容主体区域 -->
        <iframe id="contentFrame" src="/titleRule.html" style="width: 100%; height: 100%;"></iframe>
    </div>
    <div class="layui-footer">
        <!-- 底部固定区域 -->
        The only way humans have figured out of getting somewhere is to leave something behind.
    </div>
</div>

<script src="//cdn.staticfile.org/layui/2.9.7/layui.js"></script>
<script>
    layui.use('jquery', function(){
        var $ = layui.jquery;

        // 页面加载时，默认选中规则管理菜单项
        $(function(){
            $('.menu-item').removeClass('layui-this'); // 移除所有菜单项的选中状态
            $('#first').addClass('layui-this'); // 添加规则管理菜单项的选中状态
        });
    });

    // 使用 AJAX 加载页面内容
    function loadPage(url) {
        document.getElementById('contentFrame').src = url;
    }
</script>
</body>
</html>
