<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="layui/css/layui.css" rel="stylesheet">
</head>
<body>
<div style="padding: 15px;">
    <div class="layui-form-item">
        <div class="layui-input-group">
            <input id="keyword" type="text" placeholder="请输入关键字" class="layui-input">
            <div class="layui-input-suffix">
                <button class="layui-btn" lay-submit lay-filter="demo-table-export" onclick="add()">添加关键字</button>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">回溯日期</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" id="ID-laydate-demo" placeholder="yyyy-MM-dd">
                </div>
                <button type="button" class="layui-btn " onclick="startCollect()">开始采集</button>
                </button>
                <button type="button" class="layui-btn layui-bg-red " onclick="clearData()">清除全部数据</button>
                </button>
                <button type="button" class="layui-btn" id="upload">
                    <i class="layui-icon">&#xe67c;</i>上传上市公司代码
                </button>
                <a style="color:#1E9FFF; display: none" href="/company" target="_blank" id="fileLink"></a>
            </div>

        </div>
    </div>
    <div class="layui-card layui-panel">
        <table class="layui-table" lay-data="{height:'auto', url:'/rule', page:true,limit:20}"
               id="ID-table-demo-init">
            <thead>
            <tr>
                <th lay-data="{field:'id', width:80}">ID</th>
                <th lay-data="{field:'keyword'}">关键字</th>
                <th>操作</th>
            </tr>
            </thead>
        </table>
    </div>
    <br><br>
</div>
<script src="layui/layui.js"></script>
<script>
    var tableIns; // 全局变量用于存储表格实例
    var $ = layui.jquery;
    layui.use(function () {
        var laydate = layui.laydate;
        laydate.render({
            elem: '#ID-laydate-demo',
            trigger: 'click',  // 点击触发
            max: 0,  // 设置 max 为 0，表示最大可选日期是今天
            done: function (value, date) {
                if (!value) {
                    layer.msg('日期不能为空', {icon: 5});
                }
            }
        });
    });
    layui.use(['table', 'jquery'], function () {
        var table = layui.table;
        $ = layui.jquery;

        // 渲染表格
        tableIns = table.render({
            elem: '#ID-table-demo-init',
            url: '/rule', // 模拟接口地址
            page: true,
            limit: 20,
            cols: [[
                {field: 'LAY_NUM', title: '序号', type: "number"},
                {field: 'keyword', title: '关键字'},
                {title: '操作', toolbar: '#toolbarDemo'}
            ]]
        });


        // 监听工具栏事件
        table.on('tool(ID-table-demo-init)', function (obj) {
            var data = obj.data;
            if (obj.event === 'delete') {
                deleteRow(data.id);
            }
        });
    });
    layui.use('upload', function () {
        var upload = layui.upload;
        var loadIndex
        showFileName()

        function showFileName() {
            layui.$.ajax({
                url: '/company/fileName',
                type: 'GET',
                success: function (data, textStatus, xhr) {
                    if (xhr.responseText && xhr.responseText !== "") {
                        let fileLink = $('#fileLink');
                        fileLink.show()
                        fileLink.text(xhr.responseText)
                    }
                },
                error: function (xhr, status, error) {
                    $('#fileLink').hide()
                    // 处理请求失败的逻辑
                    layer.msg(xhr.responseText, {icon: 5, anim: 6});
                }
            });
        }

        //执行实例
        var uploadInst = upload.render({
            elem: '#upload' //绑定元素
            ,
            url: '/company' //上传接口
            ,
            accept: 'file',
            exts: 'xlsx',
            before: function () {
                layer.msg("请留意导入将覆盖已有数据")
                loadIndex = layer.load(3);
            },
            done: function (res) {
                layer.close(loadIndex);
                //上传完毕回调
                if (res.count !== 0) {
                    layer.msg("成功导入" + res.count + "笔数据", {icon: 1})
                    showFileName()
                } else {
                    layer.msg(res.message, {icon: 5, anim: 6});
                }

            },
            error: function (res) {
                layer.close(loadIndex);
            }
        });

    });
    getLastTillDate()

    function getLastTillDate() {
        layui.$.ajax({
            url: '/data/lastTillDate',
            type: 'GET',
            success: function (data, textStatus, xhr) {
                if (xhr.responseText && xhr.responseText !== "") {
                    $('#ID-laydate-demo').val(xhr.responseText)
                }
            },
            error: function (xhr, status, error) {
                layer.msg(xhr.responseText, {icon: 5, anim: 6});
            }
        });
    }

    // 删除行操作
    function deleteRow(id) {
        // 这里可以发送删除请求到后端，这里仅演示
        layer.confirm('确定删除该行数据？', function (index) {
            // 模拟删除成功
            $.ajax({
                url: '/rule/' + id,
                type: 'DELETE',
                success: function (data) {
                    // 处理删除成功的逻辑
                    layer.msg(data, {icon: 1});
                    reloadTable();
                },
                error: function (xhr, status, error) {
                    // 处理请求失败的逻辑
                    layer.msg(xhr.responseText, {icon: 5, anim: 6});
                }
            });
            layer.close(index);
        });
    }

    // 刷新表格
    function reloadTable() {
        tableIns.reload();
    }

    // 添加关键字
    function add() {
        var keyword = $('#keyword').val();
        if (keyword === undefined || keyword === "") {
            layer.msg("请输入关键字", {icon: 5});
            return
        }
        $.ajax({
            url: '/rule',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({keyword: keyword}),
            success: function (data) {
                // 处理接口返回的数据
                layer.msg(data, {icon: 1});
                reloadTable(); // 调用全局的 reloadTable 函数
            },
            error: function (xhr, status, error) {
                // 处理请求失败的逻辑
                layer.msg(xhr.responseText, {icon: 5, anim: 6});
            }
        });
    }

    //接收到消息的回调方法
    let messageBuffer = [];  // 消息缓冲数组
    const MAX_LOGS = 1000;   // 最大日志数量
    function doClearData() {
        var loadIndex = layer.load(3);
        messageBuffer = []
        layui.$.ajax({
            url: '/clear',
            type: 'DELETE',
            success: function (data) {
                // 处理删除成功的逻辑
                layer.msg(data, {icon: 1});
                layer.close(loadIndex)
                reloadTable();
            },
            error: function (xhr, status, error) {
                // 处理请求失败的逻辑
                layer.close(loadIndex)
                layer.msg(xhr.responseText, {icon: 5, anim: 6});
            }
        });
    }

    function clearData() {
        layui.$.ajax({
            url: '/data/status',
            type: 'GET',
            success: function (data, textStatus, xhr) {
                if (xhr.responseText === "RUNNING") {
                    layer.confirm('有采集任务正在进行中，是否终止任务并清除数据？', {icon: 3}, function (index) {
                        doClearData();
                        layer.close(index);
                    });
                } else {
                    doClearData();
                }

            },
            error: function (xhr, status, error) {
                // 处理请求失败的逻辑
                layer.msg(xhr.responseText, {icon: 5, anim: 6});
            }
        });
    }

    function doCollect(tillDate) {
        layui.$.ajax({
            url: '/data',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({tillDate: tillDate}),
            success: function (data, textStatus, xhr) {
                if (xhr.status === 200) {
                    // 处理接口返回的数据
                    layer.msg("开始采集，请稍后查询", {
                        icon: 1,
                        time: 1000,
                        end: function () {
                            showLog();
                        }
                    });
                }
            },
            error: function (xhr, status, error) {
                layer.msg(xhr.responseText, {icon: 5});
            }
        });
        // 对弹层中的表单进行初始化渲染
        var websocket = null;

        function showLog() {
            const index = layer.open({
                type: 1,
                area: ['1200px', '600px'],
                resize: true,
                shadeClose: false,
                title: false,
                content: `
            <pre id="logArea" class="layui-code code-demo" lay-options="{theme: 'dark'}"
         style="height: 600px; overflow-y: auto;">
            `,
                success: function () {

                    document.onkeydown = function (event) {
                        if (event.keyCode === 27) { // ESC 键的 keyCode 是 27
                            layer.closeAll();
                        }
                    };


                    //判断当前浏览器是否支持WebSocket
                    if ('WebSocket' in window) {
                        websocket = new WebSocket("ws://" + window.location.host + "/log/collect");
                    } else {
                        alert('Dont support websocket')
                    }

                    //连接发生错误的回调方法
                    websocket.onerror = function () {
                        console.log("error");
                    };

                    //连接成功建立的回调方法
                    websocket.onopen = function () {
                        console.log("open");
                    };


                    // 定时器，定时更新 DOM
                    let updateTimer;

                    websocket.onmessage = function (event) {
                        if (event.data === "job is done") {
                            layer.close(index);
                        } else if (event.data === "canceled") {
                            layer.close(index);
                            const i = layer.alert('采集被终止', {
                                skin: 'layui-layer-molv' // 样式类名
                            }, function () {
                                reloadTable();
                                layer.close(i);
                            });
                        } else {
                            messageBuffer.push(event.data);  // 将消息添加到缓冲数组
                            scheduleUpdate();  // 调度 DOM 更新
                        }
                    };

                    function scheduleUpdate() {
                        if (!updateTimer) {
                            updateTimer = requestAnimationFrame(updateDOM);
                        }
                    }

                    function updateDOM() {
                        if (messageBuffer.length > 0) {
                            const logs = messageBuffer.join('\n');
                            layui.$('#logArea').append(logs + '\n');

                            // 限制日志数量
                            const logLines = layui.$('#logArea').val();
                            if (logLines && logLines.length > MAX_LOGS) {
                                const excess = logLines.length - MAX_LOGS;
                                layui.$('#logArea').val(logLines.slice(excess).join('\n'));
                            }

                            scrollToBottom();

                            messageBuffer.length = 0;  // 清空消息缓冲数组
                        }

                        updateTimer = null;
                    }


                    //连接关闭的回调方法
                    websocket.onclose = function () {
                        console.log("close");
                        layer.close(index);
                    };

                    //监听窗口关闭事件，当窗口关闭时，主动去关闭websocket连接，防止连接还没断开就关闭窗口，server端会抛异常。
                    window.onbeforeunload = function () {
                        websocket.close();
                    };

                    layui.use('code', function () {
                        var code = layui.code;
                        // 初始化代码块
                        code({
                            elem: '#logArea',  // 指定元素
                            title: '日志输出', // 标题
                            encode: true,  // 对内容进行转义
                            about: false,  // 不显示关于
                            skin: 'dark'  // 使用暗色主题
                        });
                    });

                    // 自动滚动到底部
                    function scrollToBottom() {
                        var logArea = document.getElementById('logArea');
                        if (logArea) {
                            logArea.scrollTop = logArea.scrollHeight;
                        }
                    }
                },
                end: function () {
                    if (websocket) {
                        websocket.close()
                    }
                },
            });
        }
    }

    function startCollect() {
        var tillDate = layui.$("#ID-laydate-demo").val()
        if (tillDate === undefined || tillDate === "") {
            layer.msg("请输入有效日期", {icon: 5});
            return
        }
        layui.$.ajax({
            url: '/data/status',
            type: 'GET',
            success: function (data, textStatus, xhr) {
                if (xhr.responseText === "RUNNING") {
                    layer.confirm('有采集任务正在进行中，是否终止任务清除数据并重新采集？', {icon: 3}, function (index) {
                        doCollect(tillDate);
                        layer.close(index);
                    });
                } else {
                    doCollect(tillDate);
                }

            },
            error: function (xhr, status, error) {
                // 处理请求失败的逻辑
                layer.msg(xhr.responseText, {icon: 5, anim: 6});
            }
        });


    }


</script>

<!-- 操作列的工具栏模板 -->
<script type="text/html" id="toolbarDemo">
    <button class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete">删除</button>
</script>
</body>
</html>